@import '../../../../assets/sass/variables/mixins';
@import '../../../../assets/sass/variables/colors';

$root: '.feedback-form';

#{$root} {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 22px;
	border-radius: 16px;
	background: rgb(var(--neutral_white));
	color: rgb(var(--color_black));

	&__form {
		display: flex;
		flex-direction: column;
		gap: 11px;
	}

	&__email {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 12px 7px;
	}

	&__input {
		max-width: 310px;
	}

	&__confirm {
		width: 100%;
	}

	&__radio {
		margin: 0;
	}

	@media (max-width: 768px) {
		padding: 16px;
		#{$root}__title {
			@include font21(700, 24px);
		}
	}

	@media (max-width: 640px) {
		#{$root}__email {
			flex-direction: column;
			align-items: flex-start;
			gap: 12px;
		}

		#{$root}__input {
			max-width: none;
		}

		#{$root}__btn {
			order: 2;
		}
	}

	@media (max-width: 398px) {
		padding: 8px;
		gap: 8px;

		#{$root}__title {
			@include font20(700, 23px);
		}
	}
}
