@import '../../../../assets/sass/variables/_colors.scss';
@import '../../../../assets/sass/variables/_mixins.scss';

.navigationPanel {
	padding: 22px;
	border-radius: 16px;
	background: rgb(var(--neutral_white));
	.title {
		@include font24(700);
		margin-bottom: 24px;
	}
	.string {
		color: rgb(var(--neutral_red));
		@include font18();
		margin-bottom: 16px;
	}
}
