@import '../../assets/sass/variables/colors';
@import '../../assets/sass/variables/mixins';

$root: '.ui-check';

#{$root} {
	position: relative;
	margin-bottom: 5px;

	&-input {
		opacity: 0;
		position: absolute;
	}

	&-label {
		position: relative;
		display: flex;
		align-items: center;
		gap: 11px;
		@include font14();
		cursor: pointer;
		&:disabled {
			opacity: 0.3;
		}
	}
	[type='checkbox'] {
		&:checked + #{$root}-label::before,
		&:not(:checked) + #{$root}-label::before {
			content: '';
			display: inline-flex;
			width: 16px;
			min-width: 16px;
			height: 16px;
			border-radius: 50%;
			outline: none;
			-webkit-transition: all 0.2s;
			transition: all 0.2s;
		}
		&:checked {
			& + #{$root}-default::before {
				background: rgb(var(--neutral_red));
				border: 1px solid rgb(var(--grey_20));
			}
			& + #{$root}-secondary::before {
				background: rgb(var(--neutral_blue));
				border: 1px solid rgb(var(--neutral_blue));
			}
			& + #{$root}-primary::before {
				background: rgb(var(--neutral_red));
				border: 1px solid rgb(var(--neutral_red));
			}
		}
		&:not(:checked) {
			& + #{$root}-default::before {
				border: 1px solid rgb(var(--grey_20));
			}
			& + #{$root}-primary::before {
				border: 1px solid rgb(var(--neutral_red));
			}
			& + #{$root}-secondary::before {
				border: 1px solid rgb(var(--neutral_blue));
			}
		}
	}

	&-message {
	}
}
