@import '../../assets/sass/variables/mixins';
@import '../../assets/sass/variables/colors';

$root: '.text-block';
#{$root} {
	padding: 22px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	background-color: rgb(var(--neutral_white));

	@media (max-width: 768px) {
		padding: 16px;
		gap: 16px;
	}

	@media (max-width: 398px) {
		padding: 8px;
		gap: 8px;
	}

	.page-title {
		@media (max-width: 768px) {
			@include font32(400, 38px);
		}

		@media (max-width: 398px) {
			@include font26(400, 31px);
		}
	}

	&__btn {
		width: fit-content;
		min-height: auto;
		padding: 10px 32px;
	}

	&__title {
		@media (max-width: 768px) {
			@include font21(700, 24px);
		}

		@media (max-width: 398px) {
			@include font20(700, 23px);
		}
	}

	&__description {
		display: flex;
		flex-direction: column;
		gap: 16px;
		@include font18(400, 26px);

		@media (max-width: 768px) {
			@include font17(400, 24px);
		}

		@media (max-width: 398px) {
			gap: 8px;
			@include font16(400, 23px);
		}

		& > .mark {
			position: relative;
			padding-left: 34px;

			&::before {
				content: '';
				width: 9px;
				height: 9px;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background-color: rgb(var(--color_red));
			}
		}
	}
}
