.ui-button-back {
	display: flex;
	gap: 10px;
	width: fit-content;
	cursor: pointer;
	color: rgb(var(--neutral_red));

	&__icon {
		fill: rgb(var(--neutral_red));
	}

	&__breadcrumbs {
		display: flex;
		gap: 10px;
	}

	&:hover {
		filter: brightness(80%);
	}
}
